/* What Motivates Us */
.motivation {
  position: relative;
  top: -30vh;
  left: 0;
  z-index: 6000;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image:
    url('../../../assets/backgrounds/jumbo.svg'),
    url('../../../assets/generic/dotted_hero.svg');
  background-size: 100% 100%, 100%;
  background-position: 0 -20vh, 0 4vh;
  background-repeat: no-repeat, no-repeat;
}

.sub--hero {
  position: relative;
  z-index: 1000;
}

.sub--hero--div {
  padding-top: 180px;
  background-image: url('../../../assets/backgrounds/globe.png'), url('../../../assets/backgrounds/motivate_bg.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 60%, 35%;
  background-position: 200px center, right 25vh;
  z-index: 40000;
}

.gallery {
  width: var(--w--90);
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  padding: 2rem 0;
  justify-content: center;
  gap: 0.5rem;
}

.image--container {
  position: relative;
  display: inline-block;
}

.image--overlay--main {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  background: rgba(69, 82, 20, 0.6);
}

.gallery--item {
  height: 100%;
}

.green-title-text {
  font-size: var(--size--72);
  color: var(--primary--03);
  font-weight: var(--wgt--400);
}

.border-image {
  border-left: 5px solid transparent;
  border-image: linear-gradient(25deg, #c3ee00 0%, #91aa2b 70%);
  border-image-slice: 1;
  width: 100%;
  padding-left: 1rem;
}

.max--text-1 {
  width: 35%;
}

.main--title {
  margin: 4rem 0 1rem 0;
}

.one {
  max-width: 65%;
}

.dark-text {
  font-weight: 600;
}

.climate-art {
  position: absolute;
  top: 85%;
  width: 80%;
  background: #fff;
  margin: 0 auto;
  padding: 2rem 3%;
  align-items: center;
  justify-content: center;
}

.climate--title {
  max-width: 60%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.sub-text {
  line-height: 1.5;
}

.motive {
  height: 300px;
}

/* ********************** */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

/* Featured Products */
.product {
  background-color: var(--primary--08);
  padding-top: 18rem;
}

.feature--div {
  position: relative;
  top: -30vh;
  align-items: center;
  justify-content: center;
  width: var(--w--100);
  padding: 35vh 0 65px 0;
  margin-bottom: 2rem;
}

.feature--div.services {
  padding-top: 0;
}

.feature--container {
  margin: 1rem auto 0;
  width: var(--w--80);
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  height: auto;
  padding-top: 2rem;
}

.img--div {
  border-radius: 30px 0;
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature--img {
  max-width: 100%;
  object-fit: cover;
}

div.feature--container.services.flex img.feature--img {
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.feature--pro {
  align-items: center;
  box-shadow: 0 16px 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  min-height: 400px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.feature--pro:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.feature--body {
  width: 100%;
  min-height: 160px;
  background-color: var(--primary--06);
  border-radius: 0 0 30px 30px;
  padding: 1rem 2.5rem;
}

/* section:nth-child(4) {
  top: -10vh;
  padding-top: 0;
} */

div:nth-child(odd) > div.feature--body.card-body {
  background-color: var(--primary--05);
}

.card-title {
  text-transform: uppercase;
  font-weight: var(--wgt--700);
  font-size: var(--size--22);
  color: var(--primary--03);
}

div:nth-child(odd) > div.card-body > div.card-title {
  color: var(--white);
}

.feature--header {
  padding-top: 4rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: var(--primary--04);
}

section:nth-child(4) {
  top: -30vh;
}

hr.hr--theme {
  border: 1px solid var(--primary--04);
  flex-grow: 1;
}

.sub--theme {
  font-size: var(--size--32);
  font-weight: var(--wgt--400);
  min-width: 30%;
}

/* ************** */

/* Featured Services */

section:nth-child(4) > div.feature--header.flex.w--100 {
  padding-top: 4rem;
}

section:nth-child(4) > div.feature--container.flex > div:nth-child(odd) > div.feature--body.card-body {
  background-color: var(--primary--06);
}

section:nth-child(4) > div.feature--container.flex > div:nth-child(even) > div.feature--body.card-body {
  background-color: var(--primary--05);
}

section:nth-child(4) > div.feature--container.flex > div:nth-child(odd) > div.feature--body.card-body > div.card-title {
  color: var(--primary--03);
}

section:nth-child(4) > div.feature--container.flex > div:nth-child(even) > div.feature--body.card-body > div.card-title {
  color: var(--white);
}

section:nth-child(4) > div.feature--container.flex > div > div.img--div > img {
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 100%;
}

/* ************** */

/* Funnel Section */
.funnel--page--container {
  width: var(--w--70);
  font-family: 'Inter', sans-serif, 'Open Sans', 'Helvetica Neue';
  background: var(--white);
  justify-content: center;
  align-items: center;
  padding: 97px 265px;
  box-shadow: 0 8px 16px rgba(171, 190, 209, 0.4);
}

.funnel--title {
  font-weight: var(--wgt--700);
  font-size: var(--size--36);
  max-width: 400px;
  color: #464646;
  text-align: center;
  padding: 1rem 0;
  line-height: 44px;
}

.funnel--description {
  font-weight: 500;
  color: #707070;
}

.funnel--input {
  min-width: 529px;
  height: 56px;
  box-shadow: 0 2px 12px rgba(171, 190, 209, 0.3);
  border-radius: 8px;
  border: none;
  margin-top: 52px;
  padding: 4px 4px 4px 12px;
  font-weight: 600;
  font-size: 14px;
}

::placeholder {
  color: #b1b2b4;
}

.funnel--btn {
  width: 117px;
  margin-top: 0;
  height: 48px;
  border-radius: 10px;
}

/* ************* */

/* Sponsors */
div.react-multi-carousel-list {
  width: 80%;
  margin: 2.5rem auto 0;
  gap: 5rem;
  height: max-content;
}

.sponsor--logo {
  max-width: 100%;
  height: 70%;
}

/* ************* */

/* Footer Page */
.footer--container {
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  top: 40vh;
  padding: 5% 10%;
  background-color: var(--primary--03);
}

.form {
  border: 1px solid #91aa2b;
  border-radius: 10px;
  padding: 1rem;
}

.input-div {
  width: 100%;
  gap: 0.5rem;
  align-items: center;
}

.text-input {
  height: 40px;
}

.contact__form--input {
  background: #ecf8c1;
  border: 1px solid #455214;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 100%;
  padding: 10px;
}

.contact__form--input::placeholder {
  color: #455214;
}

textarea {
  margin: 0.5rem 0;
}

.contact__form--btn {
  width: max-content;
  padding: 12px 1.5rem;
  border: none;
  background: #91aa2b;
  border-radius: 10px;
  color: #f2f7de;
  font-weight: 600;
  font-size: 20px;
  height: 60px;
}

.footer__links {
  max-width: 300px;
  color: #fff;
  font-size: 14px;
  gap: 1rem;
}

.footer__links--top {
  gap: 0.5rem;
}

.footer--icon {
  width: 20px;
  height: 20px;
}

/* Projects */

.project--container {
  padding-top: 15rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.project--container.show {
  opacity: 1;
}

@media (max-width: 768px) {
  .project--container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .project--container {
    grid-template-columns: 1fr;
  }
}

.project--card {
  max-width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.8s ease;
}

.project--img {
  max-width: 100%;
  min-height: 100%;
}

.project--head {
  top: 0;
  background-color: rgba(183, 210, 75, 0.6);
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  color: var(--alt-white);
  transition: all 0.8s ease;
}

.project--card:hover {
  transform: scale(1.05);
}

.project--card:hover .project--head {
  display: none;
  transition: all 0.6s ease;
}

.project--title {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  background-color: rgba(69, 82, 20, 0.9);
  font-size: 1vw;
  line-height: 40px;
  padding: 0.5rem;
}

.project--details {
  top: 0;
}

.project--description a {
  color: var(--primary--03);
  font-weight: bold;
}

.project--link {
  margin-top: 2rem;
  background-color: #455214;
  color: var(--alt-white);
  text-align: center;
  padding: 0.5rem;
  transition: all 0.6s ease;
}

.project--link:hover {
  background-color: #91aa2b;
  color: var(--alt-white);
  font-weight: bold;
}

div.project--links > ul > li > a {
  color: var(--primary--03);
  transition: color 0.6s ease;
}

div.project--links > ul > li > a:hover {
  color: var(--primary--01);
}

.blog--slider {
  max-width: 50%;
}
