.topSection {
  width: 100%;
  position: relative;
  text-align: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    background-image: url('../../../assets/backgrounds/vid_placeholder.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.topImage {
  position: relative;
  top: 40px;
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 300px;
  background: rgba(42, 49, 12, 0.8)
}

.topHeader {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 58px;
  color: var(--white);
  font-family: var(--tiempos-fine);
  transform: translate(-50%, -50%);
}