.main--container {
  position: relative;
  height: 100%;
}

.header--container {
  width: var(--w--90);
  position: absolute;
  justify-content: var(--space-between);
  padding: 2vh 5vh;
  z-index: 2;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  background: var(--nav--bg);
  background-blend-mode: overlay;
  border-radius: 8px;
  align-content: center;
}

.logo {
  align-self: center;
  max-width: 100%;
  display: block;
  height: 50px;
}

.nav--item {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: var(--wgt--600);
  transition: all 0.3s ease-in-out;
}

.nav--item:hover {
  background-color: var(--primary--01);
  border-radius: 5px;
  padding: 8px;
}

.nav--item--active {
  opacity: 0.5;
}

.nav--list {
  gap: var(--size--28);
  font-size: var(--size--16);
  align-items: center;
  height: 100%;
}

.logo--link {
  height: 100%;
  align-content: center;
}

.success {
  color: var(--alt-white);
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  bottom: -30px;
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  0% {
    bottom: -40px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}
